$color-primary: #3369F3;
$color-gray: #EFEFEF;
$dark-gray: #1E1E1E;
$light-gray: #999999;
$lighter-gray: #EAEAEA;
$chat-background-gray: #F8F8F8;
$color-chat-blue: #E4EDFD;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-success: #28a745;